<footer class="l-footer">
  <div class="l-footer__wrapper">
      <div class="c-footer__business">
          <div class="c-footer__logo">
              <img src="../../assets/images/business/logo.svg" alt="">
          </div>
          <div class="c-footer__address">
              <p>Rua dos Milagres, 316</p>
              <p>Pato Branco - Pasárgada</p>
              <p>CEP: 01.000-800</p>
          </div>
      </div>
      <div class="c-footer__social-media">
          <div class="c-footer__newsletter">
              <p>Receba as Últimas Novidades</p>
              <form onsubmit="cadastrarEmail()">
                  <div class="c-footer__input-group">
                      <input required placeholder="Seu melhor E-mail" id="email" class="c-input" type="email">
                      <button>Cadastrar</button>
                  </div>
              </form>
          </div>
          <div class="c-footer__social-links">
              <div class="c-footer__links-title">REDES SOCIAIS</div>
              <div class="c-footer__links">
                  <i class="fa-brands fa-square-instagram"></i>
                  <i class="fa-brands fa-square-facebook"></i>
                  <i class="fa-brands fa-youtube"></i>
              </div>
          </div>
      </div>
  </div>
</footer>
