<main class="l-main">
  <div class="l-main__wrapper">
      <section class="c-section">
          <div class="c-section__title">+ PRODUTOS <a href="#">Ver Mais</a></div>
          <div class="c-section__products">
              <div class="c-card">
                  <div class="c-card__image">
                      <img src="../../assets/images/product-oculos_vr.png" alt="">
                  </div>
                  <div class="c-card__title">
                      ÓCULOS PS VR
                      <i id="favorite-icon" class="fa-solid fa-heart"></i>
                  </div>
                  <div class="c-card__price">
                      <p>R$ 360,00</p>
                      <small>ou 10x de R$ 36,00</small>
                  </div>
                  <div class="c-card__button">
                      <button>Adicionar ao Carrinho</button>
                  </div>
              </div>
              <div class="c-card">
                  <div class="c-card__image">
                      <img src="../../assets/images/product-placa_rtx.webp" alt="">
                  </div>
                  <div class="c-card__title text-small">
                      GEFORCE RTX 3070
                      <i id="favorite-icon" class="fa-solid fa-heart"></i>
                  </div>
                  <div class="c-card__price">
                      <p>R$ 360,00</p>
                      <small>ou 10x de R$ 36,00</small>
                  </div>
                  <div class="c-card__button">
                      <button>Adicionar ao Carrinho</button>
                  </div>
              </div>
              <div class="c-card">
                  <div class="c-card__image">
                      <img src="../../assets/images/product-mouse_razer.png" alt="">
                  </div>
                  <div class="c-card__title text-small">
                      MOUSE GAMER RAZOR
                      <i id="favorite-icon" class="fa-solid fa-heart"></i>
                  </div>
                  <div class="c-card__price">
                      <p>R$ 360,00</p>
                      <small>ou 10x de R$ 36,00</small>
                  </div>
                  <div class="c-card__button">
                      <button>Adicionar ao Carrinho</button>
                  </div>
              </div>
              <div class="c-card">
                  <div class="c-card__image">
                      <img src="../../assets/images/product-cadeira.png" alt="">
                  </div>
                  <div class="c-card__title text-small">
                      CADEIRA GAMER ALPHA
                      <i id="favorite-icon" class="fa-solid fa-heart"></i>
                  </div>
                  <div class="c-card__price">
                      <p>R$ 360,00</p>
                      <small>ou 10x de R$ 36,00</small>
                  </div>
                  <div class="c-card__button">
                      <button>Adicionar ao Carrinho</button>
                  </div>
              </div>

          </div>
          <div class="c-section__more">
              <button>Ver mais</button>
          </div>
      </section>

      <section class="c-section">
          <div class="c-section__title">DESTAQUES <a href="#">Ver Mais</a></div>
          <div class="c-section__products">
              <div class="c-card">
                  <div class="c-card__image">
                      <img src="../../assets/images/game-forza.jpg" alt="">
                  </div>
                  <div class="c-card__title">
                      FORZA HORIZON 5
                      <i id="favorite-icon" class="fa-solid fa-heart"></i>
                  </div>
                  <div class="c-card__price">
                      <p>R$ 360,00</p>
                      <small>ou 10x de R$ 36,00</small>
                  </div>
                  <div class="c-card__button">
                      <button>Adicionar ao Carrinho</button>
                  </div>
              </div>
              <div class="c-card">
                  <div class="c-card__image">
                      <img src="../../assets/images/game-spiderman.jpeg" alt="">
                  </div>
                  <div class="c-card__title text-small">
                      SM MILES MORALES
                      <i id="favorite-icon" class="fa-solid fa-heart"></i>
                  </div>
                  <div class="c-card__price">
                      <p>R$ 360,00</p>
                      <small>ou 10x de R$ 36,00</small>
                  </div>
                  <div class="c-card__button">
                      <button>Adicionar ao Carrinho</button>
                  </div>
              </div>
              <div class="c-card">
                  <div class="c-card__image">
                      <img src="../../assets/images/game-xcom2.jpeg" alt="">
                  </div>
                  <div class="c-card__title text-small">
                      XCOM 2
                      <i id="favorite-icon" class="fa-solid fa-heart"></i>
                  </div>
                  <div class="c-card__price">
                      <p>R$ 360,00</p>
                      <small>ou 10x de R$ 36,00</small>
                  </div>
                  <div class="c-card__button">
                      <button>Adicionar ao Carrinho</button>
                  </div>
              </div>
              <div class="c-card">
                  <div class="c-card__image">
                      <img src="../../assets/images/game-forbidden.webp" alt="">
                  </div>
                  <div class="c-card__title text-small">
                      FORBIDDEN WEST
                      <i id="favorite-icon" class="fa-solid fa-heart"></i>
                  </div>
                  <div class="c-card__price">
                      <p>R$ 360,00</p>
                      <small>ou 10x de R$ 36,00</small>
                  </div>
                  <div class="c-card__button">
                      <button>Adicionar ao Carrinho</button>
                  </div>
              </div>

          </div>
          <div class="c-section__more">
              <button>Ver mais</button>
          </div>
      </section>

  </div>
</main>
