$layout-name: "l-main";

.#{$layout-name}{
    display: flex;
    justify-content: center;
    min-height: calc(100vh - $heightHeader - $heightFooter);
    background-color: setColor(dark);
    &__wrapper
    {
        display: flex;
        flex-direction: column-reverse;
        min-height: $heightHeader;
        width: 100%;
        max-width: $defaultMaxWidth;
        padding: 20px 0px;

        @include media-breakpoint-up(md) {
            max-width: $tabletMaxWidth;
        }

        @include media-breakpoint-up(lg) {
            max-width: $defaultMaxWidth;
        }

    }
}