<article class="l-article">
  <div class="l-article__wrapper">
      <div class="c-article">
          <div class="c-article__image">
              <img src="../../assets/images/kratos.png" alt="">
          </div>
          <div class="c-article__ads">
              <div class="c-article__ads-title">
                  SORTEIO DE PASSE ANUAL
                  <span>PLAYSTATION PLUS DELUXE</span>
              </div>
              <div class="c-article__ads-description">
                  Para participar é bem simples, a cada 200 reais de compra um cupom será enviado para seu email
                  para o sorteio que acontecerá dia 10 de agosto de 2022.
                  Não perde esse oportunidade e garanta um dos melhores catálogos disponíveis da PlayStation.
              </div>
          </div>
      </div>
  </div>
</article>
