$component-name: "c-card";

.#{$component-name} {
    background-color: white;
    height: 350px;
    width: 250px;
    margin-top: 10px;
    position: relative;
    @include media-breakpoint-up(md) {
        margin-right: 10px;
        margin-top: 0;
    }


    &__image {
        height: 60%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            // border: 1px solid blue;
        }
    }

    &__title {
        display: block;
        position: relative;
        text-align: center;
        font-size: 1rem;
        font-weight: setWeight(bold);
        box-shadow: 1px 1px 5px setColor(dark-shadow);

        i {
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }

    &__price {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin: 0;
            padding: 0;
            font-weight: setWeight(bold);
        }

        small {
            color: setColor(dark-shadow);
        }
    }

    &__button {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 20%;
    }
}