$component-name: "c-logo";

.#{$component-name}{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    #logo{
        height: 100px;
        width: 100px;
    }
    @include media-breakpoint-up(md)
    {
        justify-content: flex-start;
        flex: none;
    }

}
